{
  "openapi": "3.0.1",
  "info": {
    "title": "LED kiosk phrases",
    "description": "Manage lists of positive and negative phrases. This API is designed for an interactive installation, which allows a kiosk to post phrases to be displayed on a LED wall.",
    "contact": {
      "name": "Anna Pellegrino",
      "email": "hallo@annapellegrino.de"
    },
    "license": {
      "name": "All rights reserved"
    },
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://phrases.tiqua.de/api/kiosk/v1",
      "description": "Production"
    },
    {
      "url": "https://staging.phrases.tiqua.de/api/kiosk/v1",
      "description": "Staging"
    },
    {
      "url": "https://dev.phrases.tiqua.de/api/kiosk/v1",
      "description": "Development and testing"
    },
    {
      "url": "http://localhost:5101/api/kiosk/v1",
      "description": "Local development"
    }
  ],
  "tags": [
    {
      "name": "negative_phrases",
      "description": "Negative phrases"
    },
    {
      "name": "positive_phrases",
      "description": "Positive phrases"
    }
  ],
  "paths": {
    "/negative/phrases": {
      "post": {
        "description": "Creates a negative phrase.",
        "summary": "Creates a negative phrase",
        "operationId": "create_negative_phrase",
        "tags": [
          "negative_phrases"
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "text": {
                    "description": "Text of the negative phrase to be added",
                    "type": "string"
                  }
                },
                "required": [
                  "text"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The negative phrase",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Phrase"
                }
              }
            }
          }
        }
      }
    },
    "/positive/phrases": {
      "post": {
        "description": "Creates a positive phrase.",
        "summary": "Creates a positive phrase",
        "operationId": "create_positive_phrase",
        "tags": [
          "positive_phrases"
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "text": {
                    "description": "Text of the positive phrase to be added",
                    "type": "string"
                  }
                },
                "required": [
                  "text"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The positive phrase",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Phrase"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Phrase": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "text": {
            "type": "string"
          },
          "expires": {
            "type": "integer",
            "format": "int64"
          }
        }
      }
    }
  }
}