{
  "openapi": "3.0.1",
  "info": {
    "title": "LED Wall phrases",
    "description": "Manage lists of positive and negative phrases. This API is designed for an interactive installation, which displays phrases on a LED wall with a lenticular effect.",
    "contact": {
      "name": "Anna Pellegrino",
      "email": "hallo@annapellegrino.de"
    },
    "license": {
      "name": "All rights reserved"
    },
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://phrases.tiqua.de/api/wall/v1",
      "description": "Production"
    },
    {
      "url": "https://staging.phrases.tiqua.de/api/wall/v1",
      "description": "Staging"
    },
    {
      "url": "https://dev.phrases.tiqua.de/api/wall/v1",
      "description": "Development and testing"
    }
  ],
  "tags": [
    {
      "name": "negative_phrases",
      "description": "Negative phrases"
    },
    {
      "name": "positive_phrases",
      "description": "Positive phrases"
    }
  ],
  "paths": {
    "/negative/phrases": {
      "get": {
        "description": "Returns a list of negative phrases in no particular order.",
        "summary": "Returns a list of negative phrases",
        "operationId": "get_negative_phrases",
        "tags": [
          "negative_phrases"
        ],
        "responses": {
          "200": {
            "description": "List of negative phrases",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Phrase"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/negative/phrases/{id}": {
      "get": {
        "summary": "Returns the negative phrase with the given ID",
        "operationId": "get_negative_phrase_by_id",
        "tags": [
          "negative_phrases"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the phrase",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The negative phrase",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Phrase"
                }
              }
            }
          }
        }
      }
    },
    "/positive/phrases": {
      "get": {
        "description": "Returns a list of positive phrases in no particular order.",
        "summary": "Returns a list of positive phrases",
        "operationId": "get_positive_phrases",
        "tags": [
          "positive_phrases"
        ],
        "responses": {
          "200": {
            "description": "List of positive phrases",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Phrase"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/positive/phrases/{id}": {
      "get": {
        "summary": "Returns the negative phrase with the given ID",
        "operationId": "get_positive_phrase_by_id",
        "tags": [
          "positive_phrases"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the phrase",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The negative phrase",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Phrase"
                }
              }
            }
          }
        }
      }
    },
  },
  "components": {
    "schemas": {
      "Phrase": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "text": {
            "type": "string"
          },
          "expires": {
            "type": "integer",
            "format": "int64"
          }
        }
      }
    }
  }
}